/* src/styles/weather.css */

.weather-container {
    text-align: center;
    padding: 20px;
    background-color: transparent; /* Ensure the container has no background color */
}

.weather-circles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allows items to wrap onto the next line if there's not enough space */
    background-color: transparent; /* Ensure this wrapper has no background color */
}

.weather-circle {
    background-color: transparent; /* Set background to transparent */
    border: 2px solid rgba(0, 0, 0, 0.2); /* Add a border to define the circle */
    border-radius: 50%; /* Make the div circular */
    width: 200px; /* Increased width of the circle */
    height: 200px; /* Increased height of the circle */
    margin: 10px; /* Space between circles */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add some shadow for depth */
}

.weather-title {
    font-size: 1.5em; /* Increased font size */
    margin: 5px 0;
}

.weather-detail {
    font-size: 1em; /* Increased font size for better visibility */
    margin: 2px 0;
}
